<link rel="stylesheet" href="/css/posts/postTop.css" />

<div class="post-top">
  <div class="post-top-c">
    <div class="profile-image">
      <img src="/images/prof.jpg " alt=" " />
    </div>
    <div class="profile-name">
      <p>samruddhivaidya</p>
    </div>
  </div>

  <div class="follow-user">
    <p>
      <button class="btn-success p-1 join-button" onclick="myFunction1()">
        Join Now
      </button>
    </p>
  </div>
</div>
