.comment_user {
  border-radius: 7px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 7px;
  padding-left: 7px;
  cursor: pointer;
}

.comment_user p {
  display: inline-block;
  margin: 0;
}

.profile-name {
  flex: 1;
}

.profile-message {
  color: #444444;
  font-weight: 100;
  flex: 1;
}
