<link rel="stylesheet" href="/css/navbar.css" />
<header>
  <div class="navbar">
    <div class="navlogo">
      <a href="">
        <img src="/images/chesslogo.jpeg" alt="" />
      </a>
    </div>

    <div class="navsearch">
      <a href="/search">
        <img src="/images/search.svg" alt="" />
      </a>
    </div>
  </div>
</header>

<div class="navtab">
  <a id="home" href="/" class="navtabsub">
    <div class="navtabsub1">
      <img src="/images/home.svg" alt="" />
    </div>
  </a>
  <a id="matches" href="/matches" class="navtabsub">
    <div class="navtabsub1">
      <img src="/images/matches.svg" alt="" />
    </div>
  </a>
  <a id="news" href="/news" class="navtabsub">
    <div class="navtabsub1">
      <img src="/images/news.svg" alt="" />
    </div>
  </a>
  <a id="qna" href="/qna" class="navtabsub">
    <div class="navtabsub1">
      <img src="/images/qa.svg" alt="" />
    </div>
  </a>
  <a id="profile" href="/profile" class="navtabsub">
    <div class="navtabsub1">
      <img src="/images/profile.svg" alt="" />
    </div>
  </a>
</div>

<script src="/js/navbar.js"></script>
