<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../commons/header'); -%>

    <link rel="stylesheet" href="/css/auth/login.css" />
    <title>ChessMaster Community | Change Password</title>

    <% if (incorrectCredentials) { %>
    <script>
      alert("Old password is Incorrect, Try again!");
    </script>
    <% } %>
    <!-- <script src="/js/utilities/redirector.js"></script> -->
  </head>

  <body>
    <div class="login">
      <img src="/images/authlogo.jpeg" alt="authlogo" />
      <form action="/change-password" method="post">
        <div class="inputs">
          <input
            type="password"
            class="form-control"
            aria-label="Old Password"
            aria-describedby="addon-wrapping"
            name="old-password"
            id="old-password"
            placeholder="Old Password"
          />
          <input
            type="password"
            class="form-control"
            aria-label="New Password"
            aria-describedby="addon-wrapping"
            name="new-password"
            id="new-password"
            required
            placeholder="New Password"
          />
          <div class="login-button mt-4">
            <button type="submit" class="btn btn-primary">Change</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
